body{background-color: deepskyblue;}

.center{
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.intro{
  text-align: center;
  margin-top: 100px;
  margin-left: 0px;
  font-size: large;
  display: inline;
  
}


.right{
  display: block;
  float: right;
  height: 700px;
}

.photo{
  height: 700px;
  clear: both;
}



h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

h2{
  text-align: center;
  margin-left: auto;
  margin-right:auto ;
}

.josh{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  }

  .Tyler{
    height: 700px;
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
   }

   .Dun{
     display: block;
     align-items: center;
     height: 700px;
     margin-right: auto;
     margin-left: auto;
     clear: both;
   }
   

   
   .bio{
     font-weight: lighter;
     font-family: cursive;
     text-align: center;
     margin-left: 0px;
   }

   .Joshua{
     font-weight: lighter;
     font-family: cursive;
     text-align: center;
     margin-left: 0px;
     
   }
   a:hover{
     color:whitesmoke;
    }
    .albums{
      margin-left: auto;
      margin-right: auto;
      margin-top:100px;
      text-align: center;
    }
    
    
    .favourite{
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      text-align: center;
    }
  